---
import ButtonLanding from "../components/ui/ButtonLanding.astro";
---

<div class="grid w-full h-auto grid-cols-1 gap-4 md:grid-cols-2">
  <div class="relative m-auto max-w-[50rem] text-white overflow-hidden">
    <img
      src="/Image/PizzaUp/BackgroundPizzaUp.webp"
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
    />
    <div
      class="relative z-10 flex flex-col gap-4 m-4 h-auto px-4 py-8 backdrop-blur-[3px] bg-black/10 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">PizzaUp</h1>

      <p class="py-2 text-base">
        Una landing page ideal para
        <span class="font-bold">pizzerías</span>
        que buscan atraer más clientes y mostrar su menú de forma visual y atractiva.
      </p>

      <ButtonLanding />
    </div>
  </div>

  <div class="relative m-auto max-w-[50rem] text-white overflow-hidden">
    <img
      src="/Image/GYM/BackgroundGym.webp"
      alt="GYM"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
    />

    <div
      class="relative z-10 flex flex-col gap-4 m-4 h-auto px-4 py-8 backdrop-blur-[3px] bg-black/10 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">GYM</h1>

      <p class="py-2 text-base">
        Landing page pensada para
        <span class="font-bold">gimnasios</span>
        que quieren promocionar sus servicios, destacar sus entrenadores y captar
        nuevos miembros.
      </p>

      <ButtonLanding />
    </div>
  </div>

  <div class="relative m-auto max-w-[50rem] text-white overflow-hidden">
    <img
      src="/Image/MarketingAgency/MarketingAgency.webp"
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
    />
    <div
      class="relative z-10 flex flex-col gap-4 m-4 h-auto px-4 py-8 backdrop-blur-[3px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Marketing Agency</h1>

      <p class="py-2 text-base">
        Diseñada para
        <span class="font-bold">agencias de marketing digital</span>
        que necesitan una presentación profesional para captar clientes y mostrar
        su portafolio.
      </p>

      <ButtonLanding />
    </div>
  </div>

  <div class="relative m-auto max-w-[50rem] text-black overflow-hidden">
    <img
      src="/Image/PigBank/PigBankBG.webp"
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
    />
    <div
      class="relative z-10 flex flex-col gap-4 m-4 h-auto px-4 py-8 backdrop-blur-[3px] bg-black/10 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Pig Bank</h1>

      <p class="py-2 text-base">
        Una landing para
        <span class="font-bold">bancos o fintechs</span>
        que desean transmitir confianza y presentar sus productos financieros de
        forma clara.
      </p>

      <ButtonLanding />
    </div>
  </div>

  <div class="relative m-auto max-w-[50rem] text-white overflow-hidden">
    <img
      src="/Image/GoodTrip/GoodTrip.webp"
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
    />
    <div
      class="relative z-10 flex flex-col gap-4 m-4 h-auto px-4 py-8 backdrop-blur-[3px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Good Trip</h1>

      <p class="py-2 text-base">
        Landing enfocada en
        <span class="font-bold">agencias de viaje </span>
        que buscan inspirar a sus clientes y mostrar sus paquetes turísticos de manera
        atractiva.
      </p>

      <ButtonLanding />
    </div>
  </div>

  <div class="relative m-auto max-w-[50rem] text-white overflow-hidden">
    <img
      src="/Image/CooktopiaShop/BackgroundCooktopiaShop.webp"
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
    />
    <div
      class="relative z-10 flex flex-col gap-4 m-4 h-auto px-4 py-8 backdrop-blur-[3px] bg-black/30 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Cooktopia Shop</h1>

      <p class="py-2 text-base">
        Landing page pensada para una
        <span class="font-bold">tienda de artículos de cocina</span>
        que buscan vender sus productos de forma moderna y organizada.
      </p>

      <ButtonLanding />
    </div>
  </div>

 <div class="relative overflow-hidden text-white">
    <img
      src="/Image/LandingMine/LandingMineB.webp"
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
    />
    <div
      class="relative z-10 flex flex-col gap-4 m-4 h-full max-h-[92.5%] px-4 py-8 backdrop-blur-[3px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">SIguiente Landing</h1>

      <p class="py-2 text-base">
        Lorem ipsum dolor sit amet
        <span class="font-bold">Lorem ipsum</span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      </p>

      <ButtonLanding />
    </div>
  </div>
</div>
