---

---

<div class="grid w-full h-40 grid-cols-3 grid-rows-3 gap-2">

    <div class="bg-red-500"></div>

    <div class="col-span-2 bg-green-500"></div>

    <div class="col-span-2 bg-blue-500"></div>

    <div class="col-start-3 row-start-2 bg-purple-500"></div>


</div>