---
import Leftslider from "../components/ui/LeftSlider";

const LeftsliderImages = [
  '/Image/Shinrai/img20.webp',
  '/Image/Shinrai/img21.webp',
  '/Image/Shinrai/img22.webp',
  '/Image/Shinrai/img23.webp',
  '/Image/Shinrai/img24.webp',
  '/Image/Shinrai/img25.webp',
  '/Image/Shinrai/img26.webp',
  '/Image/Shinrai/img27.webp',
]
---

<div class="flex">

  <Leftslider images={LeftsliderImages} direction="left" client:load/>
</div>