---
import Rightslider from "../components/ui/RightSlider";

const RightsliderImages = [
  '/Image/Shinrai/img12.webp',
  '/Image/Shinrai/img13.webp',
  '/Image/Shinrai/img14.webp',
  '/Image/Shinrai/img15.webp',
  '/Image/Shinrai/img16.webp',
  '/Image/Shinrai/img17.webp',
  '/Image/Shinrai/img18.webp',
  '/Image/Shinrai/img19.webp',
]
---

<div class="flex">

  <Rightslider images={RightsliderImages} direction="right" client:load/>
</div>