---

---

<div
  class="relative flex flex-col items-center justify-center w-full h-auto gap-4 p-4 bg-slate-200 dark:bg-zinc-900"
>
  <div
    class="grid grid-cols-2 md:grid-cols-4 items-center justify-center mx-auto max-w-[80rem]"
  >
    <div class="flex-col justify-center text-center">
      <h1 class="text-5xl font-bold">
        10<span class="font-bold text-cyan-400">K</span>
      </h1>
      <p class="text-1xl">inquilinos satisfechos</p>
    </div>

    <div class="flex-col justify-center text-center">
      <h1 class="text-5xl font-bold">
        300<span class="font-bold text-cyan-400">+</span>
      </h1>
      <p class="text-1xl">especialistas en bienes raíces</p>
    </div>

    <div class="flex-col justify-center text-center">
      <h1 class="text-5xl font-bold">
        78<span class="font-bold text-cyan-400">%</span>
      </h1>
      <p class="text-1xl">de crecimiento anual sostenido</p>
    </div>

    <div class="flex-col justify-center text-center">
      <h1 class="text-5xl font-bold">
        10<span class="font-bold text-cyan-400">K</span>
      </h1>
      <p class="text-1xl">propiedades gestionadas</p>
    </div>
  </div>
</div>
