---

---

<div class="flex flex-col items-center justify-center h-auto gap-4 p-4">
  <h1 class="text-4xl font-bold text-center">Encuentra tú nuevo Hogar</h1>
  <p class="text-2xl text-center">
    ¿Se admiten mascotas en el apartamento?, ¿Cómo son las escuelas?, ¿Zonas
    Verdes?
  </p>

  <div class="grid grid-cols-2 gap-2 md:grid-rows-2 md:grid-cols-5">
    <div class="relative col-span-2 md:row-span-2 md:col-span-1">
      <img
        src="/Image/DreamHouse/imgN5.webp"
        alt="imgN5"
        class="inset-0 object-cover w-full h-96"
      />

      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-end w-full h-full p-4 m-auto text-center text-white bg-black/40"
      >
        <h1 class="text-2xl font-bold">Rosedale</h1>
        <p class="">Austin, TX</p>
      </div>
    </div>

    <div class="relative ">
      <img
        src="/Image/DreamHouse/imgN6.webp"
        alt="imgN6"
        class="inset-0 object-cover w-full h-full"
      />
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-end p-4 m-auto text-center text-white bg-black/40"
      >
        <h1 class="text-2xl font-bold">Highlands</h1>
        <p class="">Lowell, MA</p>
      </div>
    </div>

    <div class="relative md:col-start-2 md:row-start-2">
      <img
        src="/Image/DreamHouse/imgN7.webp"
        alt="imgN7"
        class="inset-0 object-cover w-full h-full"
      />
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-end p-4 m-auto text-center text-white bg-black/40"
      >
        <h1 class="text-2xl font-bold">Downtown</h1>
        <p class="">Atlanta, GA</p>
      </div>
    </div>

    <div
      class="relative col-span-2 md:col-span-1 md:row-span-2 md:col-start-3 md:row-start-1"
    >
      <img
        src="/Image/DreamHouse/imgN8.webp"
        alt="imgN8"
        class="inset-0 object-cover w-full h-96"
      />
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-end p-4 m-auto text-center text-white bg-black/40"
      >
        <h1 class="text-2xl font-bold">Willow Green</h1>
        <p class="">San Jose, CA</p>
      </div>
    </div>

    <div class="relative md:col-start-4 md:row-start-1">
      <img
        src="/Image/DreamHouse/imgN9.webp"
        alt="imgN9"
        class="inset-0 object-cover w-full h-full"
      />
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-end p-4 m-auto text-center text-white bg-black/40"
      >
        <h1 class="text-2xl font-bold">North Aurora</h1>
        <p class="">Aurora, CO</p>
      </div>
    </div>

    <div class="relative md:col-start-4 md:row-start-2">
      <img
        src="/Image/DreamHouse/imgN10.webp"
        alt="imgN10"
        class="inset-0 object-cover w-full h-full"
      />
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-end p-4 m-auto text-center text-white bg-black/40"
      >
        <h1 class="text-2xl font-bold">North Quincy</h1>
        <p class="">Quincy, MA</p>
      </div>
    </div>

    <div
      class="relative col-span-2 md:col-start-5 md:row-start-1 md:col-span-1 md:row-span-2"
    >
      <img
        src="/Image/DreamHouse/imgN11.webp"
        alt="imgN11"
        class="inset-0 object-cover w-full h-96"
      />
    </div>
  </div>
</div>
