@tailwind base;
@tailwind components;
@tailwind utilities;

    .diagonal-clip {
        clip-path: polygon(0 88%, 100% 50%, 100% 100%, 0 100%);
    }

    .diagonal-clip-2 {
        clip-path: polygon(0 100%, 25% 90%, 50% 95%, 75% 85%, 100% 100%);
    }

     .diagonal-clip-3 {
        clip-path: polygon(52% 56%, 100% 25%, 100% 48%, 100% 100%, 0 100%, 0 52%, 30% 24%);
    }

        .diagonal-clip-4 {
        clip-path: polygon(0 0, 100% 0%, 100% 10%, 0 50%);
    }
