---

---

<div class="flex p-4 py-12 text-slate-100 bg-emerald-900">
  <div
    class="flex flex-col items-center justify-center gap-4 w-full max-w-[80rem] m-auto"
  >
    <p class="text-lg text-center md:text-xl w-full max-w-[40rem]">
      En <span class="font-bold text-beige-500">Shinrai</span> creemos que la verdadera
      fortaleza nace del respeto, la disciplina y la constancia. Formamos karatekas
      de todas las edades que aprenden a dominar su cuerpo y su mente, preparándose
      para competir y superarse día a día.
    </p>

    <div
      class="grid items-start justify-center grid-cols-2 gap-4 mx-auto md:grid-cols-4"
    >
      <div class="flex flex-col items-center justify-center text-center">
        <h1 class="text-5xl font-bold text-beige-500">
          230 <span class="font-normal text-slate-100">+</span>
        </h1>
        <p class="text-1xl">Karatekas activos entrenando cada mes</p>
      </div>

      <div class="flex flex-col items-center justify-center text-center ">
        <h1 class="text-5xl font-bold text-beige-500">
          15<span class="font-normal text-slate-100">+</span>
        </h1>
        <p class="text-1xl">
          Años formando campeones nacionales e internacionales
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-center ">
        <h1 class="text-5xl font-bold text-beige-500">06</h1>
        <p class="text-1xl">Categorías disponibles</p>
      </div>

      <div class="flex flex-col items-center justify-center text-center ">
        <h1 class="text-5xl font-bold text-beige-500">12</h1>
        <p class="text-1xl">
          Torneos y exhibiciones anuales en los que participamos
        </p>
      </div>
    </div>

    <div class="flex flex-row gap-4">
      <button
        class="px-12 py-4 text-base font-bold text-center transition-all duration-700 ease-out bg-transparent border border-beige-100 text-beige-100 hover:text-zinc-950 hover:bg-beige-500"
      >
        Conoce nuestros programas
      </button>

      <button
        class="px-12 py-4 text-base font-bold text-center transition-all duration-700 ease-out text-zinc-950 bg-beige-100 hover:bg-beige-500"
      >
        Únete a Shinrai
      </button>
    </div>
  </div>
</div>
