---
import "../styles/global.css";
import AboutPage from "../LandingPages/LandingMine/page/About.astro";


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/Image/LandingMine/LandingMine.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>LandingMine</title>
  </head>
  <body class="text-gray-950 dark:text-slate-100 bg-slate-100 dark:bg-neutral-900">
      <AboutPage />
  </body>
</html>