---
import "../styles/global.css";
import MorganaPage from "../LandingPages/Morgana/page/MorganaPage.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/Image/LandingMine/LandingMine.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>LandingMine</title>
  </head>
  <body class="">
      <MorganaPage />
  </body>
</html>