---

---

<div class="flex flex-col gap-4">
  <h1 class="text-xl font-bold md:text-2xl text-star">
    Encuentra tu camino con Morgana
  </h1>
  <p class="text-base md:text-lg text-start max-w-[40rem]">
    En <span class="font-bold">Morgana</span> te ofrecemos más que autos: te damos
    opciones. Con planes de financiamiento flexibles, beneficios exclusivos y atención
    personalizada, conducir tu nuevo vehículo nunca fue tan fácil.
  </p>

  <div
    class="grid items-center justify-center grid-cols-1 gap-2 md:grid-cols-2"
  >
    <div class="relative m-auto overflow-hidden text-white">
      <img
        src="/Image/Morgana/img1.webp"
        alt="imgN4"
        class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      />
      <div
        class="relative z-10 grid items-start justify-start h-auto grid-cols-1 gap-4 px-4 py-8 lg:grid-cols-2 bg-black/40 rounded-2xl"
      >
        <div class="flex flex-col order-2 gap-2 lg:order-1">
          <p class="text-base">
            Disfruta de un proceso de compra ágil, transparente y con beneficios
            únicos para nuestros clientes financiados.
          </p>

          <h1 class="text-xl font-bold">40%</h1>
          <p class="text-sm">De descuento en el primer año de financiamiento</p>
        </div>

        <div
          class="flex gap-2 w-fit lg:w-full ms-auto lg:m-0 justify-end items-end bg-black/40 backdrop-blur-[4px] rounded-xl p-2 order-1 lg:order-2"
        >
          <p class="text-base">
            Promoción válida al financiar directamente con Morgana Auto Group
          </p>
        </div>
      </div>
    </div>

    <div class="relative h-full m-auto overflow-hidden text-white">
      <img
        src="/Image/Morgana/img2.webp"
        alt="imgN4"
        class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      />
      <div
        class="relative z-10 grid items-start justify-start h-auto grid-cols-1 gap-4 px-4 py-8 lg:grid-cols-2 bg-black/40 rounded-2xl"
      >
        <div class="flex flex-col order-2 gap-2 lg:order-1">
          <p class="text-base">
            Nuestro equipo te acompaña en cada paso, asegurando contratos
            claros, justos y sin letras pequeñas.
          </p>

          <h1 class="text-xl font-bold">Tasas preferenciales</h1>
          <p class="text-sm">
            Con aprobación inmediata y asesoría personalizada
          </p>
        </div>

        <div
          class="flex gap-2 w-fit lg:w-full ms-auto lg:m-0 justify-end items-end bg-black/40 backdrop-blur-[4px] rounded-xl p-2 order-1 lg:order-2"
        >
          <p class="text-base">Tu confianza es nuestra mejor garantía</p>
        </div>
      </div>
    </div>
  </div>
</div>
