---

---

<button
  class="p-2 font-bold text-center transition-all duration-700 ease-out bg-transparent border border-gray-100 rounded-2xl hover:text-black hover:bg-white"
>
Visitar Landing
</button>
