---
import HeaderM from "../layout/HeaderM.astro";
import PaginationSection from "../utils/PaginationSection";
import Promotion from "../layout/Promotion.astro";
import Details from "../layout/Details.astro";
import FooterM from "../layout/FooterM.astro";
---

<div
  class="flex flex-col min-h-screen text-zinc-950 dark:text-slate-100 bg-slate-100 dark:bg-zinc-950"
>
  <HeaderM />

  <main class="flex p-4 w-full m-auto max-w-[80rem]">
    <section class="flex flex-col gap-4">
      <h1 class="text-xl font-bold md:text-2xl text-star">Autos</h1>
      <p class="text-base md:text-lg text-start max-w-[40rem]">
        Explora nuestra selección exclusiva de vehículos Morgana. Desde la
        potencia eléctrica hasta el confort familiar, encuentra el auto que se
        adapta a tu estilo de vida y forma de conducir.
      </p>

      <PaginationSection client:load />

      <Promotion />
      <Details />
    </section>
  </main>

  <FooterM />
</div>
