---
import HeaderShinrai from "../layout/HeaderShinrai.astro";
import FeatureSection from "../layout/FeatureSection.astro";
import RightSliderSection from "../utils/RightSliderSection.astro";
import LeftSliderSection from "../utils/LeftSliderSection.astro";
import FeatureSectionImg from "../layout/FeatureSectionImg.astro";

import FooterShinrai from "../layout/FooterShinrai.astro";
---

<div
  class="flex flex-col min-h-screen text-zinc-950 dark:text-slate-100 bg-slate-100 dark:bg-zinc-950"
>
  <HeaderShinrai />

  <FeatureSection />
  <main class="flex p-4 w-full m-auto max-w-[80rem]">
    <section class="flex flex-col gap-4">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div class="flex flex-col items-start justify-start">
          <h3 class="text-sm md:text-lg text-emerald-800 dark:text-beige-400">Lorem ipsum</h3>
          <h1 class="text-lg md:text-xl">Lorem ipsum dolor sit</h1>
          <div class="w-8 h-1 mt-2 mb-4 rounded-full bg-emerald-800 dark:bg-beige-400"></div>


          <p class="text-base md:text-lg">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Exercitationem excepturi nulla iusto consectetur mollitia minima,
            tempora adipisci sed impedit hic eum consequatur facilis tenetur
            porro perspiciatis soluta amet praesentium
          </p>
        </div>

        <img src="/Image/Shinrai/img11.webp" alt="alt" class="object-cover w-full h-full">
      </div>

      <LeftSliderSection />
      <RightSliderSection />
    </section>
  </main>

  <FeatureSectionImg />

  <FooterShinrai />
</div>
