---
import HeaderShinrai from "../layout/HeaderShinrai.astro";
import FeatureSection from "../layout/FeatureSection.astro";
import FooterShinrai from "../layout/FooterShinrai.astro";
---

<div
  class="flex flex-col min-h-screen text-zinc-950 dark:text-slate-100 bg-slate-100 dark:bg-zinc-950"
>
  <HeaderShinrai />

  <FeatureSection />
  <main class="flex p-4 w-full m-auto max-w-[80rem]">
    <section class="flex flex-col gap-4">
    </section>
  </main>

  <FooterShinrai />
</div>
