---
import HeaderCampingNight from "../layout/HeaderCampingNight.astro";

import FooterCampingNight from "../layout/FooterCampingNight.astro";
---

<div
  class="flex flex-col min-h-screen text-zinc-950 dark:text-slate-100 bg-slate-100 dark:bg-zinc-950"
>
  <HeaderCampingNight />

  <main class="flex p-4 py-20 w-full m-auto max-w-[80rem]">
    <section class="flex flex-col gap-8">
    Camping Night
    </section>
  </main>

  <FooterCampingNight />
</div>
